body{
    background-color: rgb(25,25,25);
    color: aliceblue;
    font-family: arial;
  }
  /*.title-r{
    font-size: 30px;
    font-weight: bold;
  }*/
  .title{
    font-size: 30px;
    font-weight: bold;
  }
  .hi{
    background-color: transparent !important;
    border: 1px solid rgb(179, 176, 68) !important; 
    margin: 10px;
    cursor: pointer;
  }
  .you{
    height: 115px !important;
    
  }
  .js-score{
    font-size: 15px;
    font-weight: bold;
  }
  .scores{
    margin-top: 30px;
  }
  .reset-but{
    background-color: rgb(142, 142, 154);
    margin-top: 20px;
    font-size: 20px;
    padding: 8px 15px;
  }